<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>MPLUSRounded1c-Light.ttf</string>
		<string>Geist-Thin.otf</string>
		<string>GeistVF.ttf</string>
		<string>Geist-UltraLight.otf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.alek.SucculentAndPlantApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>navStack</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription - 2</key>
	<string>Why not? What&apos;s the wost that could happen?</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
